.details-book-btn {
  background-color: #0275d8;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 1.2rem;
  cursor: pointer;
  margin-top: 15px;
  width: 200px;
  transition: 0.3s;
}

.details-book-btn:hover {
  background-color: #01549b;
}
