.farm-carousel-small {
  max-width: 90%;
  margin: 30px auto;
  overflow: hidden;
}

.carousel-slide-small img {
  width: 100%;
  height: 200px; /* smaller height */
  object-fit: cover;
  border-radius: 8px;
  margin: 0 5px;
  
}
